<div data-ng-hide="char.name">
	<h1>AngularJS-WoW</h1>

	<p>{{ tagline }}</p>

	<form ng-show="show.region">
		<span>Select your region</span>
		<select ng-model="region" ng-options="region.name for region in regions"></select>
		<button type="submit" class="btn btn-primary" type="button" ng-click="selectregion(region); focus.realm=true">Select region</button>
		<button type="reset" class="btn btn-danger" ng-click="clearSearch()">Clear</button>
	</form>
	<form data-ng-show="show.realm">
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon">Realm</span>
				<input type="text" class="form-control" placeholder="Mazrigos" ng-model="realm" focus-me="focus.realm">
				<span class="input-group-btn">
					<button type="submit" class="btn btn-primary" type="button" ng-click="selectRealm(realm); focus.name=true">Select realm</button>
					<button type="reset" class="btn btn-danger" ng-click="clearSearch()">Clear</button>
				</span>
			</div><!-- /input-group -->
		</div>
	</form>
	<form data-ng-show="show.char">
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon">Character</span>
				<input type="text" class="form-control" placeholder="Tekrajas" ng-model="name" focus-me="focus.name">
				<span class="input-group-btn">
					<button type="submit" class="btn btn-primary" type="button" ng-click="search(name)">Search!</button>
					<button type="reset" class="btn btn-danger" ng-click="clearSearch()">Clear</button>
				</span>
			</div><!-- /input-group -->
		</div>
	</form>
</div>

<div data-ng-show="char">

	<p>Our <b>Level {{ char.level }}</b> Champion,<b data-ng-show="char.raceName">{{char.raceName}}</b> named
		<b>{{ char.name }}</b> <span data-ng-show="char.side">from <b>{{char.side | capitalize}}</b></span> in realm <b>{{ char.realm }}</b><span data-ng-show="char.className"> is <b>{{char.className}}</b> and uses <b>{{char.powerType}}</b> as {{char.sexHas}} power</span>. This {{char.sex}} played last time at <b>{{char.lastModified | date:'MMMM d, y'}}</b> at <b>{{char.lastModified | date:'shortTime' | lowercase}}</b> (and that was <b>{{char.lastModified | date:'EEEE' | lowercase}}</b> by the way).
	</p>

	<button type="submit" class="btn btn-primary" type="button" data-ng-hide="char.raceName" data-ng-click="getRace(char.race)">Show Race</button>

	<button type="submit" class="btn btn-primary" type="button" data-ng-hide="char.className" data-ng-click="getClass(char.class)">Show class</button>

</div>

<div data-ng-show="error">
	<p>{{ error }}</p>
</div>
